<ion-header>

  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
    
    <ion-title>Marcar turno</ion-title>
  </ion-toolbar>
   
</ion-header>


<!-- <ion-content class="ion-padding">  -->
<ion-content> 
  
  <ion-card>
    <form [formGroup] = "registroForm" (ngSubmit)="crearTurno()">
      <ion-list>
        <ion-item lines="full">
          <ion-label color="primary" position="floating">Fecha</ion-label>
          <ion-input
            type="Date"
            formControlName="turnos_fecha"
            name="turnos_fecha"
          ></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label color="primary" position="floating">Hora</ion-label>
          <ion-input
            type="Time"
            formControlName="turnos_hora"
            name="turnos_hora"
          ></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label color="primary" position="floating">Laboratorio</ion-label>
          <ion-input
            type="number"
            formControlName="turnos_lab"
            name="turnos_lab"
          ></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button (click)="crearTurno()" 
            expand="block"
              >Crear Turno</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
   
  </ion-card>
</ion-content>

