<ion-header>

  <ion-toolbar color="dark">

    <ion-title>Actualizar cuenta</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  &nbsp;
  
  <ion-toolbar>
    <ion-title>Editar datos</ion-title>
  </ion-toolbar>

  &nbsp;

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>

  &nbsp;

  <ion-button expand="block" [routerLink]="['/principal']">ACTUALIZAR</ion-button>

  <ion-toolbar>
        
  </ion-toolbar>

</ion-content>

