<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
    
    <ion-title>Laboratorio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label>
      <h2>Laboratorio Central</h2>
      <p>cde</p>
      <p>Av. Principal</p>
    </ion-label>
    <ion-button fill="outline" slot="end" [routerLink]="['/']">Ver</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <h2>Laboratorio Internacional</h2>
      <p>cde</p>
      <p>Av. Secundaria</p>
    </ion-label>
    <ion-button fill="outline" slot="end" [routerLink]="['/']">Ver</ion-button>
  </ion-item>

</ion-content>

