<!-- <ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="tertiary"> </ion-back-button>
    </ion-buttons>
    <ion-title color="tertiary" class="btnprincipal"> Turnos </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>

  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
    
    <ion-title>Turnos marcados</ion-title>
  </ion-toolbar>
   
</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar
    placeholder="Buscar"
    debounce="100"
    (ionChange)="buscar ($event) "
  ></ion-searchbar> 

  <ion-list *ngFor="let turnos of users; let index = i">
    <ion-item-sliding #slidingItem>
      <ion-card>
        <ion-item class="item-label item ios in-list ion-focusable hydrated">
          
            <ion-icon name="flask-sharp"></ion-icon>

          <ion-item>
            <ion-label
              class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated"
            >
              <h2>{{turnos.lab_nombre}}</h2>
              <h2>{{turnos.turnos_fecha}}</h2>
              <h3>{{turnos.turnos_hora}}</h3>
              <p>{{turnos.turnos_lab}}</p>
            </ion-label>
          </ion-item>
        </ion-item>
      </ion-card>
      <ion-item-options side="end">
        <ion-item-option
          (click)="eliminarTurno (turnos, index, slidingItem)"
          color="danger"
        >
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>

        <ion-item-option
          [routerLink]="['/turnos/actualizar/' + this.turnos.turnos_id]"
          color="primary"
        >
          <ion-icon name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> 

  <!--para agregar nuevos usuarios-->

  <ion-fab

    [routerLink]="['/turnos/crear']"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button class="btnCrear">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
